<div
  class={{if isSelected "quiz-question-option selected" "quiz-question-option"}}
>
  <input type="radio" name={{questionName}} checked={{isSelected}} onclick={{action select}} id={{radioId}}>
  {{#if editable}}
    <Input @type="text" @value={{text}} />
    <DButton
      @icon="times"
      class="btn-danger"
      @action={{action "delete"}}
      @title="js.discourse_quiz.ui_builder.delete_option"
    />
  {{else}}
    <label for={{radioId}}>{{text}}</label>
  {{/if}}
</div>