<div class="quiz-question-option">
  <input
    type="radio"
    name={{this.questionName}}
    onclick={{action this.select}}
    id={{this.radioId}}
  >
  <label for={{this.radioId}}>{{this.text}}</label>
</div>
